<!DOCTYPE html>
<html>
    <head>
        <center><title>{{title}}</title></center>
        <link rel="stylesheet" href="/css/styles.css"/> <!-- static path for public folder is already set in app.js -->
    </head>
    <body>
         <div class="main-content">
            {{>header}}
        </div>
    </body>
</html>